<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

  <div class="container">
    <div class="row">
      <div class="col-sm">
      </div>
      <div class="col-sm">
        <form>
          <h1>Connexion</h1>
          <div class="mb-3">
            <label  class="form-label">Email </label>
            <input type="email" required [(ngModel)]="user.email" class="form-control" name="email"  >
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Mot de passe</label>
            <input type="password" required name="mdp" [(ngModel)]="user.mdp" class="form-control" id="exampleInputPassword1">
          </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" (click)="verif()" class="btn btn-primary">Submit</button>
            <a href="#/login/inscrire">S'inscrire</a>


          </form>      </div>
      <div class="col-sm">
      </div>
    </div>
  </div>