
<div class=" content">
  <div class=" row">
    <div class=" col-md-8">
      <div class=" card">
        <div class=" card-header"><h5 class=" title">Modifier Profile</h5></div>
        <div class=" card-body">
          <form (submit)="update()">
            <div class=" row">
              <div class=" col-md-5 pr-md-1">
                <div class=" form-group">
                  <label> Grade </label>
                  <input
                    class=" form-control"
                    disabled=""
                    placeholder="{{user.grade}}"
                    type="text"


                    />
                </div>
              </div>
              <div class=" col-md-3 px-md-1">
                <div class=" form-group">
                  <label> Nom </label>
                  <input
                  [(ngModel)]="user.nom"
                    class=" form-control"
                    placeholder="Nom"
                    name="nom"
                    type="text"
                    value="michael23"
                  />
                </div>
              </div>
              <div class=" col-md-4 pl-md-1">
                <div class=" form-group">
                  <label for="exampleInputEmail1"> Email  </label>
                  <input
                    class=" form-control"
                    placeholder="email@email.com"
                    type="email"
                    [(ngModel)]="user.email"
                    name="email"
                  />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group">
                  <label>Téléphone </label>
                  <input
                    class=" form-control"
                    placeholder="tel ici"
                    type="text"
                    [(ngModel)]="user.telephone"
                    name="tel"
                    
                  />
                </div>
              </div>
              <div class=" col-md-6 pl-md-1">
                <div class=" form-group">
                  <label> Ville </label>
                  <input
                    class=" form-control"
                    placeholder="Ville"
                    [(ngModel)]="user.ville"
                    type="text"
name="ville"                  />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-12">
                <div class=" form-group">
                  <label> Addresse </label>
                  <input
                    class=" form-control"
                    placeholder="votre addresse"
                    type="text"
                    [(ngModel)]="user.adresse"
                    name="adresse"
                  />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-4 pr-md-1">
                <div class=" form-group">
                  <label> Code postale </label>
                  <input
                    class=" form-control"
                    placeholder="code postale"
                    type="text"
                    [(ngModel)]="user.codepostale"
                    name="code"
                  />
                </div>
              </div>
           
            
            </div>
        
          </form>
        </div>
        <div class=" card-footer">
          <button class=" btn btn-fill btn-danger" (click)="update()" type="submit">Mettre à jour</button>
        </div>
      </div>
    </div>
    <div class=" col-md-4">
      <div class=" card card-user">
        <div class=" card-body">
          <p class=" card-text"></p>
          <div class=" author">
            <div class=" block block-one"></div>
            <div class=" block block-two"></div>
            <div class=" block block-three"></div>
            <div class=" block block-four"></div>
            <a href="javascript:void(0)">
              <img alt="..." class=" avatar" src="assets/img/emilyz.jpg" />

              <h5 class=" title">Mike Andrew</h5>
            </a>
            <p class=" description">Ceo/Co-Founder</p>
          </div>
          <div class=" card-description">
            Do not be scared of the truth because we need to restart the human
            foundation in truth And I love you like Kanye loves Kanye I love
            Rick Owens’ bed design but the back is...
          </div>
        </div>
        <div class=" card-footer">
          <div class=" button-container">
            <button
              class=" btn btn-icon btn-round btn-facebook"
              href="javascript:void(0)"
            >
              <i class=" fab fa-facebook"> </i>
            </button>
            <button
              class=" btn btn-icon btn-round btn-twitter"
              href="javascript:void(0)"
            >
              <i class=" fab fa-twitter"> </i>
            </button>
            <button
              class=" btn btn-icon btn-round btn-google"
              href="javascript:void(0)"
            >
              <i class=" fab fa-google-plus"> </i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
